.history {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;

  width: 100%;
  height: 100%;
  max-height: 100%;
  font-family: "Unica One", sans-serif;
}

.history h2 {
  font-size: 2.5rem;
  padding-top: 0.5rem;
}

.logContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  
  flex-grow: 1;             
  height: 0;                
  
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 8px;
  
  overflow-y: auto;

  scrollbar-width: none;    
  
  -ms-overflow-style: none; 
}

.logContainer::-webkit-scrollbar {
  display: none;
}

.logContainer :global(._log_19xlz_1) {
  background-color: #eff0ea;
  border: 4px solid #000;
  font-size:1.5rem;
  box-shadow: 0px 4px #000;
}